@page
@model BudgetSystem.Web.Pages.Accounts.IndexModel
@{
    ViewData["Title"] = "Accounts";
}
<h1 class="mt-3">Accounts</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create Account</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th><th>Name</th><th>Starting Balance</th><th>Currency</th><th>Created</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var a in Model.Accounts)
    {
        <tr>
            <td>@a.Id</td>
            <td>@a.Name</td>
            <td>@a.StartingBalance</td>
            <td>@a.Currency</td>
            <td>@a.CreatedUtc.ToLocalTime()</td>
        </tr>
    }
    </tbody>
</table>
